  <div class="grid grid-cols-5 gap-2 p-2">
    <% columns.each do |column, css_class| %>
      <p class="my-auto overflow-hidden <%= css_class %>"><%= extract_data assessment, column %></p>
    <% end %>
    <%= link_to "see details", assessment_path(assessment) %>
  </div>
