<%= turbo_frame_tag "no_assessment" do %>
  <div class="bg-slate-100 px-2">
    <p>You do not have any assessments yet. Use the form below to create one. Here is how it works:</p>
    <ol class="list-decimal pl-4">
      <li class="py-2">You create an assessment with the form.</li>
      <li class="py-2">Our team review it and propose a quote.</li>
      <li class="py-2">You are free to agree or disagree.</li>
      <li class="py-2">If you agree, will start working on it and will make the file available the day before the deadline.</li>
    </ol>
  </div>
<% end %>
