<nav class="w-full bg-white py-2">
    <div class="mx-10 flex justify-between">
        <%= link_to "STUDEASY", root_path, class: "font-title text-2xl pt-1" %>
        <%= button_to destroy_user_session_path, method: :delete do %>
            <%= inline_svg_tag "log-out.svg" %>
        <% end %>
    </div>
</nav>
