<div class="tab flex justify-between">
  <div class="bg-slate-200 flex-grow rounded-tl-md flex justify-center">
    <%= link_to "Available Assessments", assessments_path(tab: "main"), class: "text-white my-auto" %>
  </div>
  <div class="bg-slate-300 flex-grow flex justify-center">
    <%= link_to "In progress", assessments_path(tab: "in_progress"), class: "text-white my-auto" %>
  </div>
  <h1 class="text-2xl pl-2 flex-grow rounded-tr-md pt-2 pb-1">PAST</h1>
</div>
<div class="content flex-auto">
 <div class="headers px-2 pt-2 grid grid-cols-3 sm:grid-cols-5  border-solid border-b-2 border-slate-300">
    <h3>name</h3>
    <h3 class="text-center">user</h3>
    <h3 class="text-center hidden sm:inline">deadline</h3>
    <h3 class="text-center hidden sm:inline"> status</h3>
    <h3 class="text-right">actions</h3>
  </div>
  <div>
    <%= render @assessments,
        columns: {
          "name" => nil,
          "user.email" => nil,
          "deadline" => "hidden sm:inline",
          "status" => "hidden sm:inline",
        },
        custom_class: "grid-cols-3 sm:grid-cols-5"
    %>
  </div>
</div>
