<div class="flex flex-col w-full">
    <p>Thank you very much. We'll let the student know and will proceed to payment as soon as possible.</p>
    <div class="flex">
        <p>Final work uploaded : </p>
        <div class="flex pl-2">
            <% assessment.solution.documents.each do |document| %>
                <%= link_to rails_blob_path(document, disposition: "attachment"), class: "my-auto mx-2 flex" do %>
                    <%= inline_svg_tag "file-text.svg", class: "my-auto w-4 h-4" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
